body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0; /* צבע רקע עדין */
}

header {
  background-color: #fff;
  padding: 20px;
  text-align: center;
}

.logo h1 {
  margin-bottom: 10px;
}

main {
  padding: 20px;
}

.cards-container {
  display: flex;
  overflow-x: auto; /* גלילה אופקית */
  margin-bottom: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin-right: 10px;
  flex: 0 0 200px; /* רוחב קבוע לכרטיסייה */
  text-align: center;
}

.updates-link {
  text-align: center;
  margin-bottom: 20px;
}

.gallery {
  /* עיצוב גלריית תמונות */
}

.prayer-times {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.donation-button {
  text-align: center;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

/* עיצוב רספונסיבי */
@media (max-width: 768px) {
  .card {
    flex: 0 0 150px; /* רוחב כרטיסייה במובייל */
  }
}
